doctype html
html
  head
    include common-head.pug
    title Bluedit / Explore
  body
    header
      include menubar.pug
      +menubar('explore', user)
    main#content
      #search-box
        form(action="/explore" method="get")
          input(type="text" name="search" placeholder="Search blogs..." value=searchText)
          select(name="sort")
            option(value="newest" selected=sort === 'newest') Newest
            option(value="oldest" selected=sort === 'oldest') Oldest
            option(value="likes" selected=sort === 'likes') Most Likes
          button(type="submit") Search

      #blog-list
        each blog in blogs
          article.blog-post
            a(href=`/blog?id=${blog.id}`)
              h2.blog-title= blog.title
              p.blog-text-preview= blog.text
              if blog.image
                img(src=blog.image, alt="Blog Image")

      include pagination.pug
      +pagination('/explore', page)
