doctype html
html
  head
    include common-head.pug
    title Bluedit / Home
  body
    include menubar.pug
    +menubar('main', user)
    main#content
      #search-box
        form(action="/search" method="get")
          input(type="text" name="q" placeholder="Search blogs..." value=searchText)
          button(type="submit") Search
      #blog-list
        each blog in blogs
          article.blog-post
            a(href=`/blog?id=${blog.id}`)
              h2.blog-title= blog.title
              p.blog-text-preview= blog.preview
              if blog.image
                img(src=blog.image, alt="Blog Image")
      include pagination.pug
      +pagination('/', page)
