mixin pagination(baseUrl, currentPage, prevPage, nextPage, lastPage)
  nav#pagination
    ul
      li: a(href=`${baseUrl}?page=${prevPage}`, class=(currentPage === 1 ? 'disabled' : 'arrow')) <
      if currentPage > 1
        li: a(href=`${baseUrl}?page=1`) 1
        if currentPage > 2
          li ... 
        if currentPage > 3
          li: a(href=`${baseUrl}?page=${currentPage-1}`) #{currentPage-1}
      li.current-page #{currentPage}
      if currentPage < lastPage
        li: a(href=`${baseUrl}?page=${currentPage+1}`) #{currentPage+1}
        if lastPage - currentPage > 2
          li ... 
        if lastPage - currentPage > 1
          li: a(href=`${baseUrl}?page=${lastPage}`) #{lastPage}
      li: a(href=`${baseUrl}?page=${nextPage}`, class=(currentPage === lastPage ? 'disabled' : 'arrow')) >
