mixin pagination(baseUrl, page)
  nav#pagination
    ul
      li: a(href=`${baseUrl}?page=${page.prev}`, class=(page.curr === 1 ? 'disabled' : 'arrow')) <
      if page.curr > 1
        li: a(href=`${baseUrl}?page=1`) 1
        if page.curr > 2
          li ... 
        if page.curr > 3
          li: a(href=`${baseUrl}?page=${page.curr-1}`) #{page.curr-1}
      li.current-page #{page.curr}
      if page.curr < page.last
        li: a(href=`${baseUrl}?page=${page.curr+1}`) #{page.curr+1}
        if page.last - page.curr > 2
          li ... 
        if page.last - page.curr > 1
          li: a(href=`${baseUrl}?page=${page.last}`) #{page.last}
      li: a(href=`${baseUrl}?page=${page.next}`, class=(page.curr === page.last ? 'disabled' : 'arrow')) >
